<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css”/>
    <title>skills</title>
    <style>
        .h1_experience{
            text-align: center;
            margin-top: 50px;
        }
        .card_experience{
            width: 70lvw;
            margin: 0 auto;
            top: 50px;
        }
        .card_experience:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
        body{
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <h1 class="h1_experience">My experience</h1>
    {% for experience in experiences %}
    <div class="card card_experience">
       <div class="card-body">
          <h5 class="card-title">{{ experience.experience_name }}</h5>
          <p class="card-text">{{ experience.experience_description }}.</p>
          <a href="{{ experience.experience_link }}">{{ experience.experience_link }}</a>
        </div>
      </div>
    {% endfor %}
</body>
</html>